@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Poppins', 'sans-serif';
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-bottom: 5px solid #333;
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.424);
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #333
}

.right-nav {
    display: flex;
    align-items: center;
}
.right-nav h4 {
    cursor: pointer;
}
.right-nav i {
    font-size: 24px;
}

.panier {
    margin: 0 30px
}

.panier i {
    position: relative;
}

.panier i span {
    position: absolute;
    top: -10px;
    right: -5px;
    font-size: 12px;
    background: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
}


/* CAROUSEL SECTION */
#mainCarousel {
    height: 90vh;
    width: 100%;
}

.carousel-inner {
    position: relative;
}

.background-shadow {
    position: absolute;
    background: rgba(0, 0, 0, 0.219);
    height: 90vh;
    width: 100%;
    z-index: 1;
}

.carousel-item img {
    height: 90vh;
    object-fit: cover;
}

.carousel-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.carousel-caption {
    color: white;
}


/* Products GRILLE */

.products-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    place-items: center;
    justify-content: center;
}

.product {
    margin: 20px 0;
    width: 85%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-space-between {
    justify-content: space-between
}

.favorite {
    font-size: 24px;
    color: rgba(77, 76, 76, 0.507)
}
/* Modal */

/* Favorite Modal */
.modal-dialog {
    max-width: 70vw;
}

.product-card-favorite {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 2px solid #333;
}
.product-card-favorite img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.product-card-favorite .left {
    display: flex;
    align-items: center;
}
.product-card-favorite-details {
    margin: 5px 0  0 10px; 
} 
.product-card-favorite .right {
    font-size: 36px;
}
.buttons-quantity {
    width: 30%;
    justify-content: space-between;
}
.modal-footer {
    justify-content: space-between;
}
@media (max-width: 768px) {
    .navbar {
        height: 15vh
    }
}